@import url('https://fonts.googleapis.com/css?family=Cabin');

/// kabob - case ****** 
// class

//
//class=sidebar-button

body {
font-family: 'Cabin', sans-serif;
height: 95vh;
  a {
    font-size:40px;
    color:#33ccff;
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav{
    display: flex;
    flex-basis: row;
    letter-spacing: 5px;
    background: white;
    color:#24455E;
    text-decoration: none;
    // text-transform: uppercase;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    h1{
      // margin:30px;
      font-size: 60px;
      font-weight:bold;
      font-variant: small-caps;

    }
    a {
    display: inline-block;
    max-width: 50%;
    font-size: 40px;
    color:#24455E;
    text-decoration: none;
    // text-transform: uppercase;
    justify-content: center;
    margin: 25px;
    
    }
  }
  // form div {
  //   margin: 1em;
  //   display: inline-block;
  // }
  // form.load-data{
  //   font-size: 20px;
  //   height:100px;
  // }
  table {  
    color: black;
    font-family: 'Cabin', sans-serif;
    width: 800px; 
    border: 2px solid black;
    margin: 10px 45px;
    border-radius:5px;
}
caption{
    border: 2px solid black; /* No more visible border */
    height: 35px; 
    transition: all 0.3s;
    background: white;  /* Darken header a bit */
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
}

td, th {  
    border: 1px solid lightblue; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: white;  /* Darken header a bit */
    font-weight: bold;
    font-size: 20px;
}

td {  
    background: #FAFAFA;
    text-align: center;
}
  .schema{
    display:flex;
    flex-direction: row;
    width:100%;
    background-image: url('http://www.powerpointhintergrund.com/uploads/presentation-background-grids-25.gif');
  }
  .schild1{
    width:280px;
    height: 82vh;
  }
  .schild2{
    width: 75vw;
    height: 85vh;
    background-image: url('http://www.powerpointhintergrund.com/uploads/presentation-background-grids-25.gif');
    display:flex;
    flex-wrap: wrap;
    overflow: scroll;
  }
  .login {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   width: 100%;
   margin: auto;
   background:lightgray;
   border-radius: 10px;
  }
  .box{
    display:flex;
    flex-direction: row;
    margin: 30px 0px;
    flex-wrap: wrap;
  }
  .sidebar{
    background-color:lightblue;
    height:75vh;
    display: flex;
    padding: 0 15px;
    position: static;
    border-radius: 15px;
    margin: 15px 15px;
    width:220px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }
  .buttons h1{
    font-size: 25px;
    color: #24455E;
  }

  .sidebar button{
    color: #24455E;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    background: white;
    text-decoration: none;
    border-color:white;
    border-radius:15px;
    margin: 10px 10px;
    width: 200px;
    height: 30px
  }
  .header{
    width:100%;
  }
  .modal{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position:relative;
  }
  .ShowModal{
    font-size:20px;
    color:black;
    display:flex;
    justify-content: center;
    align-content: center;
  }
  .db{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .dbImg{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dbImg img{
    width: 130px;
    height: 110px;

  }
  .dbImg button{
    font-size: 25px;
    color: #24455E;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    border-color: white;
    text-transform: uppercase;
  }
  .createLoad button{
    font-size:40px;
  }
  .sqlScript{
    width:300px;
    height:150px;
    line-height:3em;
    overflow:auto;
    padding:5px;
    background: white;
    border: 2px solid black;

  }
  .tableName{
    width:100%;
  }

  input{
    font-size: 30px;
    border-radius: 5px;
  }
  .nav{
    height: 100px;
  }
  .home-page{
    background-image: url('http://www.powerpointhintergrund.com/uploads/presentation-background-grids-25.gif');
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
    font-size: 40px;
  }
  .home-page-child1{
    max-width: 50%;
  }
  .home-page-child2{
    max-width: 50%;
  }


  /////FROM EMOTIVA
  #page {
  position:absolute;
  top:0;
  left:0;
  right:0;
}
section {
  height:100vh;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}
section > div {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  font-weight:bold;
  font-size:8vw;
  color:lightblue;
  text-align:center;
}

.next {
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-36px;
  cursor:pointer;
  font-size:400%;
}
.next:after {
  content:'▼';
}

select button:not(.next) {
    content: '▼';
}

.one {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  flex-direction: row;
  flex:1;
  background: white;
}
.description{
  color:#24455E;
  font-size: 50px;
  width: 60%;
}
h1.one-child.description {
  font-size: 100px;
  width:100%;
}
.one-child1{
  width:40%;
}
.two {
   background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: row-reverse;
  flex:1;
}
.three {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: row;
  flex: 1;
  width:100%;
  height:100vh;
  justify-content: center;

}
.three-child{
  height:100vh;
  flex:1;
  width:100%;
  align-content: center;
}
.four {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
one-child.description img{
  width: 100%;
}

.modal-load-data{
  margin:auto;
}
form.load-data{
  padding: 10px;
  margin: auto;
}
.user-home{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1{
    font-size:30px;
    text-transform: uppercase;
  }
}
.sqlScript{
  width: 100%;
  height: 50vh;
  border: 1px solid transparent;
  border-radius: 10px;

}
.textarea{
  width: 482px;
  height: 234px;
  font-size: 20px;
  color: #24455E;
  font-family: 'Cabin', sans-serif;
}
form.createdbform{
  justify-content: center;
  align-content: center;
  align-items: center;
}

button.tablebutton{
  position: absolute;
  right: 10px;
  top: 2%;
  width:30px;

}
.fieldGrid{
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  align-content : center;
}
.fieldInput{
  width : 125px;
  height : 20px;
  font-size : 15px;
} 
.tableInput{
  width : 250px;
  height : 25px;
  font-size : 20px;
}
button.fieldButton{
  width : 30px;
  margin : 0px;
  border : 0px 1px;
}
.logo{
  width:100px;
  height:100px;
}
.logoandname{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
}
