@import url('https://fonts.googleapis.com/css?family=Cabin');


body {
font-family: 'Cabin', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav{
    display: flex;
    flex-basis: row;
    font-size: 40px;
    letter-spacing: 5px;
    background: #FEC6C6;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }
  nav h1{
    margin: 30px;
  }
  nav a {
    display: inline-block;
    max-width: 50%;
    font-size: 30px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    margin: 25px;
  }
  form div {
    margin: 1em;
    display: inline-block;
  }
  table {  
    color: black;
    font-family: 'Cabin', sans-serif;
    width: 640px; 
    border: 2px solid black;
    margin: 15px;
    border-radius:5px;
}

td, th {  
    border: 1px solid lightblue; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: white;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}
  .schema{
    display:flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
  }
  .schild1{
    width:20%;
    height:100vh;
  }
  .schild2{
    width:80%;
    height:100vh;
    background-image: url('http://www.powerpointhintergrund.com/uploads/presentation-background-grids-25.gif');
  }
  .login {
   border: 2px solid black;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   width: 150px;
  }
  .box{
    display:flex;
    flex-direction: row;
  }
  .sidebar{
    background-color:lightblue;
    height:100vh;
    display: flex;
    padding: 0 15px;
    position: static;
    left: 0px;
    border-radius: 10px;
  }
  .sidebar h1{
    background-color: gray;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }

  .button{
    color:black;
    border: none;
  }
  .header{
    width:100%;
  }
  .modal{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .ShowModal{
    font-size:20px;
    color:black;
    display:flex;
    justify-content: center;
    align-content: center;
  }
    

}
