@import url('https://fonts.googleapis.com/css?family=Cabin');


body {
font-family: 'Cabin', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav{
    display: flex;
    flex-basis: row;
    font-size: 40px;
    letter-spacing: 5px;
    background: #24455E;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
  }
  nav h1{
    margin: 30px;
  }
  nav a {
    display: inline-block;
    max-width: 50%;
    font-size: 30px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    margin: 25px;
  }
  form div {
    margin: 1em;
    display: inline-block;
  }
  table {  
    color: black;
    font-family: 'Cabin', sans-serif;
    width: 800px; 
    border: 2px solid black;
    margin: 10px 45px;
    border-radius:5px;
}
caption{
    border: 2px solid black; /* No more visible border */
    height: 35px; 
    transition: all 0.3s;
    background: white;  /* Darken header a bit */
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
}

td, th {  
    border: 1px solid lightblue; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: white;  /* Darken header a bit */
    font-weight: bold;
    font-size: 20px;
}

td {  
    background: #FAFAFA;
    text-align: center;
}
  .schema{
    display:flex;
    flex-direction: row;
    width:100%;
    height: 100vh;
    background-image: url('http://www.powerpointhintergrund.com/uploads/presentation-background-grids-25.gif');
  }
  .schild1{
    width:350px;
    height:100vh;
  }
  .schild2{
    width:100%;
    height:100vh;
    background-image: url('http://www.powerpointhintergrund.com/uploads/presentation-background-grids-25.gif');
  }
  .login {
   border: 2px solid black;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   width: 150px;
   margin: auto;
  }
  .box{
    display:flex;
    flex-direction: row;
    margin: 30px 0px;
  }
  .sidebar{
    background-color:lightblue;
    height:80vh;
    display: flex;
    padding: 0 15px;
    position: static;
    border-radius: 15px;
    margin: 15px 15px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }
  .buttons h1{
    font-size: 50px;
    color: white;
  }

  .sidebar button{
    color: #24455E;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    background: white;
    text-decoration: none;
    border-color:white;
    border-radius:15px;
    margin: 10px 10px;
    width: 200px;
    height: 30px
  }
  .header{
    width:100%;
  }
  .modal{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .ShowModal{
    font-size:20px;
    color:black;
    display:flex;
    justify-content: center;
    align-content: center;
  }
  .db{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dbImg{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dbImg img{
    width: 100px;
    height: 100px;

  }
  .dbImg button{
    font-size: 25px;
    color: #24455E;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    border-color: white;
    text-transform: uppercase;
  }
  .createLoad button{
    font-size:40px;
  }
  .sqlScript{
    width:300px;
    height:150px;
    line-height:3em;
    overflow:auto;
    padding:5px;
    background: white;
    border: 2px solid black;

  }
  .tableName{
    width:100%;
  }
}
